

body {
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  margin-left: 18%;
  margin-top: 5%;
}

h2 {
  margin-bottom: 20px;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #007bff;
}
.or {
  margin: 20px 0;
  font-size: 14px;
  color: #ccc;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.forgot-password {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  text-align: right;
}

.login-btn {
  background-color: #0000ff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.login-btn:hover {
  background-color: #000099;
}

.social-signup {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.social-btn {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.google {
  background-color: #db4437;
  color: white;
}

.facebook {
  background-color: #4267B2;
  color: white;
}

.twitter {
  background-color: #1DA1F2;
  color: white;
}
