<div class="no__accounts__section ng-star-inserted">
  <div class="no__accounts__infographic">
    <div *ngIf="isData" class="nodata__card"> No Linked Accounts</div>
  </div>
</div>

<div class="accounts-sections">
  <p style="font-size: 25px; font-weight: 600; color: #343c6a;">Your Linked Bank Accounts</p>

  <div class="account-details recent-transactions-details">
    <div class="account-header">
      <span class="bank-name">Bank Name</span>
      <span class="account-type">Account Type</span>
      <span class="account-balance-header">Balance</span>
    </div>

    <div *ngFor="let account of accounts" class="account-item" (click)="showDetails(account)"
         [ngClass]="{'selected-account': selectedAccount === account}">
      <span class="bank-name">
        <img [src]="account.bankIconUrl" alt="{{ account.bankName }}" height="30px">
        <div>&nbsp;{{ account.bankName }} - {{ account.accountNumber }}</div>
      </span>
      <span class="account-type">{{ account.accountType }}</span>
      <span class="account-balance">₹&nbsp;{{ account.accountBalance }}</span>
    </div>


    <div *ngIf="selectedAccount" class="account-details">
      <h3>Bank Details</h3>
      <p><strong>Bank Name:</strong> {{ selectedAccount.bankName }}</p>
      <p><strong>Account Number:</strong> {{ selectedAccount.accountNumber }}</p>
      <p><strong>Account Type:</strong> {{ selectedAccount.accountType }}</p>
      <p><strong>Balance:</strong> ₹{{ selectedAccount.accountBalance }}</p>
    </div>
    <br>
    <div class="link-button"><a class="link-account-button" href="add-bankaccount"><i class="fa-solid fa-circle-plus"></i> Link a Bank
      Account</a></div>
  </div>
</div>
