.chatbot-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-chat {
  align-self: flex-end;
  margin: 5px;
  padding: 5px 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-chat:hover {
  background-color: #ff1a1a;
}

.chat-box {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 60px;
}

.input-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  border-top: 1px solid #ddd;
}

input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px;
  background-color: #cccccc;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: gray;
}

.user-message {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: right;
}

.bot-message {
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li{
  padding: 10px;
}
