
<div class="navbar" *ngIf="showNavbar">
  <h2 class="logo">My Money</h2>
  <div class="header__user--image">
    <div class="search-bar nav-settings nav-icon">
      <i class="fa-solid fa-search"></i>
      <input type="text" placeholder="Search for something">
    </div>

    <div class="nav-settings nav-icon">
      <i class="fa-solid fa-gear"></i>
    </div>

    <div class="nav-notification nav-icon">
      <i class="fa-solid fa-bell"></i>
    </div>

    <div id="toggle-profile" class="header__profile--image">
      <img src="assets/images/profile.png" height="50" alt="Profile - Logo" class="profile__image">
    </div>
  </div>
</div>


<div class="main-container" *ngIf="showNavbar">

  <div class="sidebar">
    <a class="nav-buttons" [class.active]="activeTab === 'dashboard'"  (click)="OnDashboardClick()"><i class="fa-solid fa-house"></i>Dashboard</a>
    <a class="nav-buttons" [class.active]="activeTab === 'transactions'"  (click)="OnTransactionsClick()"><i class="fa-solid fa-money-bill-transfer"></i>Transactions</a>
    <a class="nav-buttons" [class.active]="activeTab === 'accounts'"  (click)="OnAccountsClick()"><i class="fa-solid fa-user"></i>Accounts</a>
    <a class="nav-buttons" [class.active]="activeTab === 'budget'" (click)="OnBudgetClick()"><i class="fa-solid fa-file-invoice"></i>Budget</a>
    <a class="nav-buttons" [class.active]="activeTab === 'consents'" (click)="OnConsentsClick()"><i class="fa-solid fa-file-invoice"></i>Consents</a>
    <a class="nav-buttons" [class.active]="activeTab === 'investments'"><i class="fa-solid fa-money-bill-trend-up"></i>Investments</a>
    <a class="nav-buttons" [class.active]="activeTab === 'loans'" ><i class="fa-solid fa-hand-holding-dollar"></i>Loans</a>
    <a class="nav-buttons" [class.active]="activeTab === 'services'" ><i class="fa-solid fa-screwdriver-wrench"></i>Services</a>
    <a class="nav-buttons" [class.active]="activeTab === 'settings'"><i class="fa-solid fa-gear"></i>Settings</a>
    <a class="nav-buttons" [class.active]="activeTab === 'logout'" (click)="OnLogoutClick()" ><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
  </div>
</div>
<body>

  <div class="content">
    <section>
      <article>

        <router-outlet></router-outlet>
      </article>
    </section>
  </div>


  <div class="chatbot-container">

    <img *ngIf="!isChatbotOpen" src="assets/images/robot.png" height="80" alt="Chatbot Icon" class="profile__image" (click)="toggleChatbot()">


    <div *ngIf="isChatbotOpen" class="chat-window">
      <button class="close-chat" (click)="toggleChatbot()">X</button>
      <app-chatbot></app-chatbot>
    </div>
  </div>

</body>
