<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navigation Bar</title>
<!-- Navbar at the top -->
<div class="navbar">
  <h2 class="logo">My Money</h2>
  <div class="header__user--image">
    <div class="search-bar nav-settings nav-icon">
      <i class="fa-solid fa-search"></i>
      <input type="text" placeholder="Search for something">
    </div>

    <div class="nav-settings nav-icon">
      <i class="fa-solid fa-gear"></i>
    </div>

    <div class="nav-notification nav-icon">
      <i class="fa-solid fa-bell"></i>
    </div>

    <div id="toggle-profile" class="header__profile--image">
      <img src="assets/images/profile.png" height="50" alt="Profile - Logo" class="profile__image">
    </div>
  </div>
</div>

<!-- Main container to hold the sidebar and content -->
<div class="main-container">
  <!-- Sidebar navigation -->
  <div class="sidebar">
    <a class="nav-buttons" href="dashboard" onclick="OnDashboardClick()"><i class="fa-solid fa-house"></i>Dashboard</a>
    <a class="nav-buttons" href="transactions"><i class="fa-solid fa-money-bill-transfer"></i>Transactions</a>
    <a class="nav-buttons" href="accounts" onclick="OnAccountsClick()"><i class="fa-solid fa-user"></i>Accounts</a>
    <a class="nav-buttons" href="consents" onclick="OnConsentsClick()"><i class="fa-solid fa-file-invoice"></i>Consents</a>
    <a class="nav-buttons" href="investments"><i class="fa-solid fa-money-bill-trend-up"></i>Investments</a>
    <a class="nav-buttons" href="credit-cards"><i class="fa-solid fa-credit-card"></i>Credit - Cards</a>
    <a class="nav-buttons" href="loans"><i class="fa-solid fa-hand-holding-dollar"></i>Loans</a>
    <a class="nav-buttons" href="services"><i class="fa-solid fa-screwdriver-wrench"></i>Services</a>
    <a class="nav-buttons" href="settings"><i class="fa-solid fa-gear"></i>Settings</a>
    <a class="nav-buttons" href="logout"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
  </div>
</div>
</head>
<body>
  <!-- Main content area -->
  <div class="content">
    <section>
      <article>
        <!-- Router outlet or main content goes here -->
        <router-outlet></router-outlet>
      </article>
    </section>
  </div>
</body>
</html>
