<!DOCTYPE html>
<html lang="en">
<main>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
  </head>
  <body>
  <div class="navbar">
    <h2 class="logo">Inmar Money</h2>
    <div class="topnav">
      <a class="nav-buttons" (click)="OnDashboardClick()" href="dashboard">Dashboard</a>
      <a class="nav-buttons" (click)="OnConsentsClick()" href="consents">Consents</a>
      <a class="nav-buttons" (click)="OnAccountsClick()" href="accounts">Accounts</a>
    </div>

    <div class="header__user--image">
      <div id="toggle-profile" class="header__profile--image"
      ><img src="assets/images/profile.png" height="50"
            alt="Profile - Logo" class="profile__image">
      </div>
      <img src="assets/images/down.png" height="30" alt="arrow" id="i-image"
           style="background-color: white;"

           class="i-image "></div>
  </div>

  <div class="footer">
    <p>All rights reserved, 2024</p>
  </div>

  <section>
    <article>
          <router-outlet></router-outlet>
    </article>
  </section>
  </body>
</main>
</html>
