<div class="container">
  <h2>Hello {{ username }}! Let’s take you through two quick steps to link your financial Accounts.</h2>
  <p class="glow" *ngIf="selectBankTab">Please select the financial institution to proceed with account discovery.</p>
  <p *ngIf="linkAccountsTab">These are the bank accounts found with your linked mobile number</p>

  <div class="steps">
    <div class="step" [ngClass]="{'active': currentStep === 1}">
      <span>01</span> Select Financial Institutions
    </div>
    <div class="step" [ngClass]="{'active': currentStep === 2}">
      <span>02</span> Discover & Link Accounts
    </div>
  </div>

  <div *ngIf="selectBankTab">
    <input
      type="text"
      placeholder="Search Across (Types of Institution Filter)"
      [(ngModel)]="searchTerm"
      (input)="filterInstitutions()"
      class="search-bar">

    <div class="selectbanks">
      <div class="institutions">
        <div class="institution" *ngFor="let institution of filteredInstitutions"
             (click)="selectInstitution(institution)">
          <ng-container *ngIf="institution.logoUrl; else fallbackIcon">
            <div style="padding-right: 30px; width: 150px; height: 60px">
              <img [src]="institution.logoUrl" height="60px" width="150px" style="padding-right: 30px"
                   [alt]="institution.fipName">
            </div>
          </ng-container>
          <ng-template #fallbackIcon>
            <i class="fas fa-university" style="font-size: 60px; padding-right: 30px; width: 150px; height: 60px"
               aria-label="Institution icon"></i>
          </ng-template>
          <div class="institution-details">
            <h3>{{ institution.fipName }}</h3>
            <p>{{ institution.FIs }}</p>
            <span class="mobile-requirement">Requires mobile number</span>
          </div>
          <i *ngIf="selectedInstitutions.includes(institution)" class="fa-regular fa-circle-check checkmark"></i>
        </div>
      </div>

      <div class="selected-institutions">
        <h3>Selected Financial Institutions</h3>
        <ul>
          <li *ngFor="let selected of selectedInstitutions">{{ selected.fipName }}</li>
        </ul>
        <button class="btn-continue" (click)="continue()">Continue</button>
        <button class="btn-cancel" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>

  <!-- LinkAccounts Tab -->
  <div *ngIf="linkAccountsTab" class="bank-card">
    <div *ngFor="let institution of selectedInstitutions" class="bank-details">
      <div style="padding-right: 30px; width: 150px; height: 60px">
        <img [src]="institution.smallUrl" height="60px" width="150px" style="padding-right: 30px"
             [alt]="institution.fipName">
      </div>
      <div style="display: flex; align-content: baseline">
        <div style="padding-right: 30px; width: 250px; height: 60px; color: #ffffff" class="institution-details link-institution-details">
          <h3>{{ institution.fipName }}</h3>
          <p>{{ institution.FIs }}</p>
        </div>

        <div style="padding-right: 30px; width: 200px; height: 60px">
          <div class="account-type">
            <i class="fas fa-check-circle"></i> <!-- Checkmark Icon -->
            <span>{{ institution.accountType }}</span>
          </div>
          <div class="account-number">XXXXXXXX{{ institution.accountNumber }}</div>
        </div>

        <div class="link-button">
          <button *ngIf="!isLinked(institution)" (click)="linkAccount(institution)">Link</button>
          <button *ngIf="isLinked(institution)">Linked</button>
        </div>
      </div>

    </div>
  </div>
</div>

<app-otp-dialog [showModal]="isOtpModalVisible" (closeModalEvent)="onCloseOtpModal()"></app-otp-dialog>

