<div class="dashboard-section">

  <div class="credit-cards-section">
    <div class="cards-content">
      <div>My Cards</div>
      <div class="remaining-cards">See All</div>
    </div>
    <div class="mycards-details">
      <div class="credit-card">
        <div class="card-info">
          <div class="card-content">
            <div class="balance-chip">
              <div>
                <div class="balance">Balance</div>
                <div>₹5,76,837</div>
              </div>
              <div class="chip">
                <img src="assets/images/chip (2).png" height="50" alt="Profile - Logo" class="profile__image">
              </div>
            </div>
            <div class="middle-card">
              <div>
                <div class="card-holder">CARD HOLDER</div>
                <div class="content"> Abdul Gafoor</div>
              </div>
              <div>
                <div class="valid-thru">VALID THRU</div>
                <div class="content">12/28</div>
              </div>
            </div>
          </div>
          <div class="card-number">3778 **** **** 1234 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img
            src="assets/images/venn-diagram.png" height="50" alt="Profile - Logo"></div>
        </div>
      </div>

      <div class="credit-card second-card">
        <div class="card-info">
          <div class="card-content">
            <div class="balance-chip">
              <div>
                <div class="balance">Balance</div>
                <div>₹5,72,762</div>
              </div>
              <div class="chip">
                <img src="assets/images/chip (2).png" height="50" alt="Profile - Logo" class="profile__image">
              </div>
            </div>
            <div class="middle-card">
              <div>
                <div class="card-holder">CARD HOLDER</div>
                <div class="content"> Anand Teja</div>
              </div>
              <div>
                <div class="valid-thru">VALID THRU</div>
                <div class="content">12/28</div>
              </div>
            </div>
          </div>
          <div class="card-number">3738 **** **** 1844 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img
            src="assets/images/venn-diagram.png" height="50" alt="Profile - Logo"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="recent-transactions">
    <div> Recent Transactions</div>
    <div class="recent-transactions-details">
      <div class="trans-money">
        <div class="trans-details">Johnny Depp
          <div class="trans-date">25 Jun 2024</div>
        </div>
        <div class="trans-money-debit">- ₹10000</div>
      </div>
      <div class="trans-money">
        <div class="trans-details">Sandeep Nayak
          <div class="trans-date">25 Jun 2024</div>
        </div>
        <div class="trans-money-credit">+ ₹5000</div>
      </div>
      <div class="trans-money">
        <div class="trans-details">Alexander
          <div class="trans-date">25 Jun 2024</div>
        </div>
        <div class="trans-money-credit">+ ₹5647</div>
      </div>
      <div class="trans-money">
        <div class="trans-details">Services Charges
          <div class="trans-date">25 Jun 2024</div>
        </div>
        <div class="trans-money-debit">- ₹647</div>
      </div>
    </div>
  </div>

  <div class="weekly activity">
    Weekly Activity

    <div class="chart-container">
      <div class="chart">
        <div class="bar-container">
          <div class="bar deposit" style="height: 150px;">$1,500</div>
          <div class="label">Sat</div>
        </div>
        <div class="bar-container">
          <div class="bar withdrawal" style="height: 100px;">$1,000</div>
          <div class="label">Sun</div>
        </div>
        <div class="bar-container">
          <div class="bar withdrawal" style="height: 120px;">$1,200</div>
          <div class="label">Mon</div>
        </div>
        <div class="bar-container">
          <div class="bar deposit" style="height: 170px;">$1,700</div>
          <div class="label">Tue</div>
        </div>
        <div class="bar-container">
          <div class="bar withdrawal" style="height: 110px;">$1,100</div>
          <div class="label">Wed</div>
        </div>
        <div class="bar-container">
          <div class="bar deposit" style="height: 100px;">$1,000</div>
          <div class="label">Thu</div>
        </div>
        <div class="bar-container">
          <div class="bar deposit" style="height: 130px;">$1,300</div>
          <div class="label">Fri</div>
        </div>
      </div>
    </div>
  </div>



</div>
