<div class="dashboard-section">

  <div class="balance-card">
    <div class="balance-info">
      <p class="balance-label">Total Balance</p>
      <p class="balance-amount">₹ 7,92,500</p>
    </div>
    <div class="balance-image">
      <img alt="" class="bl" loading="eager" role="presentation" src="https://miro.medium.com/v2/resize:fit:700/1*kF-gnSzLD3e34sCr70rUEA.png">
    </div>
  </div>

  <div class="accounts-sections">
    <div class="acounts-content cards-content">
      <div>Accounts</div>
      <div class="remaining-cards"><a href="accounts" onClick="OnAccountsClick()" style="text-decoration: none">See All</a></div>
    </div>

    <div class="account-details recent-transactions-details">
      <div class="account-header">
        <span class="bank-name">Bank Name</span>
        <span class="account-type">Account Type</span>
        <span class="account-balance-header">Balance</span>
      </div>
      <div class="account-item">
        <span class="bank-name"><img src="https://www.onemoney.in/docs/img/bank_icons/axisbank_icon.png" height="30px"><div>&nbsp;Axis Bank Ltd</div></span>
        <span class="account-type">Savings</span>
        <span class="account-balance">₹&nbsp;10,000</span>
      </div>
      <div class="account-item">
        <span class="bank-name"><img src="https://www.onemoney.in/docs/img/bank_icons/hdfcbank_icon.jpg" height="30px"><div>&nbsp;HDFC Bank Ltd</div></span>
        <span class="account-type">Current</span>
        <span class="account-balance">₹&nbsp;2,500</span>
      </div>
      <div class="account-item">
        <span class="bank-name"><img src="https://www.onemoney.in/docs/img/bank_icons/bank_of_india_icon.png" height="30px"><div>&nbsp;Bank of India</div></span>
        <span class="account-type">Fixed Deposit</span>
        <span class="account-balance">₹&nbsp;20,000</span>
      </div>
      <div class="account-item">
        <span class="bank-name"><img src="https://www.onemoney.in/docs/img/bank_icons/sbi_bank_icon.png" height="30px"><div>&nbsp;State Bank of India</div></span>
        <span class="account-type">Salary</span>
        <span class="account-balance">₹&nbsp;60,000</span>
      </div>
<br>
      <div><a class="link-account-button" href="add-bankaccount"><i class="fa-solid fa-circle-plus"></i> Link a Bank Account</a></div>

    </div>
  </div>

  <div class="credit-cards-section">
    <div class="cards-content">
      <div>My Cards</div>
      <div class="remaining-cards">See All</div>
    </div>
    <div class="mycards-details">
      <div class="credit-card">
        <div class="card-info">
          <div class="card-content">
            <div class="balance-chip">
              <div>
                <div class="balance">Balance</div>
                <div>₹2,00,000</div>
              </div>
              <div class="chip">
                <img src="assets/images/chip (2).png" height="50" alt="Profile - Logo" class="profile__image">
              </div>
            </div>
            <div class="middle-card">
              <div>
                <div class="card-holder">CARD HOLDER</div>
                <div class="content"> Abdul Gafoor</div>
              </div>
              <div>
                <div class="valid-thru">VALID THRU</div>
                <div class="content">12/28</div>
              </div>
            </div>
          </div>
          <div class="card-number">5778 **** **** 1234 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <i class="fa-brands fa-cc-visa" style="font-size: 50px"></i></div>
        </div>
      </div>

      <div class="credit-card second-card">
        <div class="card-info">
          <div class="card-content">
            <div class="balance-chip">
              <div>
                <div class="balance">Balance</div>
                <div>₹5,00,000</div>
              </div>
              <div class="chip">
                <img src="assets/images/chip (2).png" height="50" alt="Profile - Logo" class="profile__image">
              </div>
            </div>
            <div class="middle-card">
              <div>
                <div class="card-holder">CARD HOLDER</div>
                <div class="content"> Abdul Gafoor</div>
              </div>
              <div>
                <div class="valid-thru">VALID THRU</div>
                <div class="content">12/28</div>
              </div>
            </div>
          </div>
          <div class="card-number">5738 **** **** 1844 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <i class="fa-brands fa-cc-stripe" style="font-size: 50px"></i></div>
        </div>
      </div>
    </div>
  </div>

  <div class="recent-transactions">
    <div class="cards-content">
      <div>Recent Transactions</div>
      <div class="remaining-cards">See All</div>
    </div>
    <div class="recent-transactions-details">
      <div class="trans-money">
        <div class="trans-details">Johnny Depp
          <div class="trans-date">25 Jun 2024</div>
        </div>
        <div class="trans-money-debit">- ₹10000</div>
      </div>
      <div class="trans-money">
        <div class="trans-details">Sandeep Nayak
          <div class="trans-date">25 Jun 2024</div>
        </div>
        <div class="trans-money-credit">+ ₹5000</div>
      </div>
      <div class="trans-money">
        <div class="trans-details">Alexander
          <div class="trans-date">25 Jun 2024</div>
        </div>
        <div class="trans-money-credit">+ ₹5647</div>
      </div>
      <div class="trans-money">
        <div class="trans-details">Services Charges
          <div class="trans-date">25 Jun 2024</div>
        </div>
        <div class="trans-money-debit">- ₹647</div>
      </div>
    </div>
  </div>

  <div class="weekly-statistics">
    <div class="weekly-activity">
      Weekly Activity

      <div class="chart-container">
        <div class="chart">
          <div class="bar-container">
            <div class="bar deposit" style="height: 150px;">$1,500</div>
            <div class="label">Sat</div>
          </div>
          <div class="bar-container">
            <div class="bar withdrawal" style="height: 100px;">$1,000</div>
            <div class="label">Sun</div>
          </div>
          <div class="bar-container">
            <div class="bar withdrawal" style="height: 120px;">$1,200</div>
            <div class="label">Mon</div>
          </div>
          <div class="bar-container">
            <div class="bar deposit" style="height: 170px;">$1,700</div>
            <div class="label">Tue</div>
          </div>
          <div class="bar-container">
            <div class="bar withdrawal" style="height: 110px;">$1,100</div>
            <div class="label">Wed</div>
          </div>
          <div class="bar-container">
            <div class="bar deposit" style="height: 100px;">$1,000</div>
            <div class="label">Thu</div>
          </div>
          <div class="bar-container">
            <div class="bar deposit" style="height: 130px;">$1,300</div>
            <div class="label">Fri</div>
          </div>
        </div>
      </div>
    </div>

    <div class="expense-stats">Expense Statistics
      <div class="pie-chart">
        <div class="slice slice-1">10%<br>Rent</div>
        <div class="slice slice-2">20%<br>Utilities</div>
        <div class="slice slice-3">20%<br>Others</div>
        <div class="slice slice-4">30%<br>Savings</div>
        <div class="slice slice-5">20%<br>Entertainment</div>
      </div>
    </div>
  </div>

</div>
