<div class="dashboard-section">
  <div class="each-inm">
    <img src="assets/images/donor-consent-form.png" alt="new_consent" height="70">
    <div class="consent-content">
      <div class="ele-count">0</div>
      <div class="ele-text">New Consents</div>
    </div>
  </div>

  <div class="each-inm">
    <img src="assets/images/consent.png" alt="active_consent" height="70">
    <div class="consent-content">
      <div class="ele-count">0</div>
      <div class="ele-text">Active Consents</div>
    </div>
  </div>

  <div class="each-inm">
    <img src="assets/images/link.png" alt="linked_accounts" height="70">
    <div class="consent-content">
      <div class="ele-count">0</div>
      <div class="ele-text">Linked Accounts</div>
    </div>
  </div>

</div>

<div class="no__accounts__section">
  You don't have any linked accounts.<br>
  Click here to add a new account
</div>
<div class="button-style">
<button class="add-button"><img class="plus-icon" src="assets/images/plus.png" alt="consent" height="40">Add</button>
</div>
